@import url("https://fonts.googleapis.com/css2?family=Bungee+Spice&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Combo&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Satisfy&display=swap");
/* main {
    	@include box-flex(center, center, column)
	} */
/*
main{
	@include medias(tablet){
		background-color:deeppink;
	}
	@include medias(desktop){
		background-color: #af40f6;
	}
}
*/
/* .product-base {
    @extend %div-base;
}*/
#cartelPj, #cartelLog {
  margin-top: 5px;
}
#cartelPj h3, #cartelLog h3 {
  color: white;
  font-family: "Combo", cursive;
  font-size: 3.5rem;
  color: #0b8062;
  font-weight: 600;
}

#verPjs, .pjs {
  margin: auto;
}
#verPjs h2, .pjs h2 {
  font-family: "Bungee Spice", cursive;
  font-size: 4rem;
  margin-top: 5px;
  text-align: center;
}
#verPjs h3, .pjs h3 {
  font-size: 2.5rem;
  color: #FD7014;
  text-align: right;
  font-family: "Satisfy", cursive;
}
#verPjs p, .pjs p {
  font-family: "Combo", cursive;
  color: #0b8062;
  margin-top: 10px;
  font-size: 3.5rem;
  font-weight: 700;
  text-align: center;
  padding: 20px;
  border-radius: 10px;
  margin-left: 10px;
  margin-bottom: 50px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
}

main {
  display: flex !important;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

nav {
  background: #222831;
}
nav ul li a {
  font-family: "Bungee Spice", cursive;
  font-size: 2.5rem !important;
  padding-right: 30px !important;
  transition: 0.3s !important;
}
nav ul li a:hover, nav ul li a:focus {
  font-size: 2.6rem !important;
}

.bann img {
  width: 100%;
}

.pjs {
  display: flex !important;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  background-color: black;
  padding-top: 70px;
}
.pjs h1 {
  font-size: 6rem;
  color: #0b8062;
  font-weight: 600;
  font-family: "Combo", cursive;
  margin-bottom: 10px;
}

.peluca {
  display: flex !important;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 10px;
  position: relative;
  width: 100%;
}
.peluca img {
  width: 100%;
}

.sape {
  width: 1000px;
  position: absolute;
  top: 15;
  left: 0;
  right: 0;
  margin: 0 auto;
}
.sape h5 {
  font-size: 4rem;
  padding-bottom: 5px;
  font-family: "Bungee Spice", cursive;
}
.sape p {
  font-size: 3.5rem;
  padding-bottom: 0px;
  font-family: "Combo", cursive;
  color: #8758FF;
  font-weight: 800;
}

.product-card {
  background-color: #171717;
  width: 600px;
  height: 400px;
  margin: auto;
  border-radius: 40px;
  position: relative;
}

.product-details {
  width: 80%;
  padding: 10px;
}

.product-image {
  position: absolute;
  right: -160px;
  top: -30px;
}
.product-image img {
  width: 300px;
}

.mapa {
  display: flex !important;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  background-color: #171717;
}
.mapa video {
  width: 1280px;
  height: 720px;
  border-radius: 60px;
  margin-bottom: 50px;
}
.mapa h4 {
  font-family: "Bungee Spice", cursive;
  font-size: 5rem;
  padding: 1%;
}

main {
  background-color: #171717;
}

.banner img {
  width: 100%;
}

.ingreso {
  display: flex !important;
  justify-content: center;
  align-items: flex-start;
  flex-direction: row;
  margin-top: 10px;
}

.login {
  margin-right: 300px;
}
.login h2 {
  color: white;
  margin-bottom: 20px;
  font-size: 2.5rem;
  font-family: "Bungee Spice", cursive;
}
.login label {
  color: white;
  font-size: 1.2rem;
  font-family: "Press Start 2P", cursive;
}
.login input {
  font-size: 1.5rem;
  font-weight: 500;
}

.registro h2, #formPer h2 {
  color: white;
  margin-bottom: 20px;
  font-size: 2.5rem;
  font-family: "Bungee Spice", cursive;
}
.registro label, #formPer label {
  color: white;
  font-size: 1.2rem;
  font-family: "Press Start 2P", cursive;
}
.registro input, #formPer input {
  font-size: 1.5rem;
  font-weight: 500;
}

#formNew {
  display: none;
}

.btn-primary {
  background-color: #0b8062 !important;
  border-color: #0b8062 !important;
  font-family: "Combo", cursive !important;
  font-size: 1.8rem !important;
  margin-top: 5px;
  margin-bottom: 10px;
}
.btn-primary:hover {
  background-color: #FD7014 !important;
}

#formPer {
  width: 100%;
}
#formPer img {
  width: 50%;
  margin-bottom: 50px;
}

#cartelPj h3 {
  font-size: 3rem;
  margin-left: 25px;
}

.btnCartel {
  display: flex;
  flex-direction: row;
}

/*# sourceMappingURL=main.css.map */
