@import url("https://fonts.googleapis.com/css2?family=Bungee+Spice&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Combo&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Satisfy&display=swap");
/* main {
    	@include box-flex(center, center, column)
	} */
/*
main{
	@include medias(tablet){
		background-color:deeppink;
	}
	@include medias(desktop){
		background-color: #af40f6;
	}
}
*/
/* .product-base {
    @extend %div-base;
}*/
#cartelPj, #cartelLog {
  margin-top: 5px;
}
#cartelPj h3, #cartelLog h3 {
  color: white;
  font-family: "Combo", cursive;
  font-size: 3.5rem;
  color: #0b8062;
  font-weight: 600;
}

#verPjs {
  width: 100%;
}
#verPjs h2 {
  font-family: "Bungee Spice", cursive;
  font-size: 4rem;
  margin-top: 5px;
  text-align: center;
}
#verPjs h3 {
  font-size: 2.5rem;
  color: #FD7014;
  text-align: right;
  font-family: "Satisfy", cursive;
}
#verPjs p {
  font-family: "Combo", cursive;
  color: #0b8062;
  margin-top: 10px;
  font-size: 3.5rem;
  font-weight: 700;
  text-align: center;
  padding: 20px;
  border-radius: 10px;
  margin-left: 10px;
  margin-bottom: 50px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
}

main {
  display: flex !important;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

nav {
  background: #222831;
}
nav ul li a {
  font-family: "Bungee Spice", cursive;
  font-size: 2.5rem !important;
  padding-right: 30px !important;
  transition: 0.3s !important;
}
nav ul li a:hover, nav ul li a:focus {
  font-size: 2.6rem !important;
}

.bann img {
  width: 100%;
}

.pjs {
  display: flex !important;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  background-color: black;
  padding-top: 70px;
}
.pjs h1 {
  font-size: 6rem;
  color: #0b8062;
  font-weight: 600;
  font-family: "Combo", cursive;
  margin-bottom: 10px;
}

.intro {
  background-color: black;
  text-align: center;
}
.intro h1 {
  font-family: "Combo", cursive;
  color: #0b8062;
  font-size: 6rem;
  font-weight: 700;
  margin: 20px 0;
}

.mapa {
  display: flex !important;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  background-color: #171717;
}
.mapa video {
  width: 1280px;
  height: 720px;
  border-radius: 60px;
  margin-bottom: 50px;
}
.mapa h4 {
  font-family: "Bungee Spice", cursive;
  font-size: 5rem;
  padding: 1%;
}

.logon {
  display: flex !important;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #171717;
  width: 100%;
  padding-top: 20px;
}

.parallax {
  background-image: url("https://github.com/FerKovalink/d-d/blob/master/img/ban3.jpg?raw=true");
  width: 100%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.ingreso {
  display: flex !important;
  justify-content: center;
  align-items: flex-start;
  flex-direction: row;
  margin-top: 10px;
}

.login {
  margin-right: 300px;
}
.login h2 {
  color: white;
  margin-bottom: 20px;
  font-size: 2.5rem;
  font-family: "Bungee Spice", cursive;
}
.login label {
  color: white;
  font-size: 1.2rem;
  font-family: "Press Start 2P", cursive;
}
.login input, .login #formPjs select, #formPjs .login select {
  font-size: 1.5rem;
  font-weight: 500;
}

.registro h2, #formPer h2 {
  color: white;
  margin-bottom: 20px;
  font-size: 2.5rem;
  font-family: "Bungee Spice", cursive;
}
.registro label, #formPer label {
  color: white;
  font-size: 1.2rem;
  font-family: "Press Start 2P", cursive;
}
.registro input, .registro #formPjs select, #formPjs .registro select, #formPer input, #formPer #formPjs select, #formPjs #formPer select {
  font-size: 1.5rem;
  font-weight: 500;
}

#formNew {
  display: none;
}

.btn-primary {
  background-color: #0b8062 !important;
  border-color: #0b8062 !important;
  font-family: "Combo", cursive !important;
  font-size: 1.8rem !important;
  margin-top: 5px;
  margin-bottom: 10px;
}
.btn-primary:hover {
  background-color: #FD7014 !important;
}

#formPer {
  display: none;
  width: 100%;
  padding-bottom: 20px;
}
#formPer img {
  width: 50%;
}

#formPjs input, #formPjs select {
  width: 80%;
}
#formPjs select {
  width: 30%;
  margin-left: 20px;
  margin-top: 8px;
}
#formPjs label {
  font-size: 1.3rem;
}

#cartelPj h3 {
  font-size: 3rem;
  margin-left: 25px;
}

#verPjs {
  width: 100%;
}

.btnCartel {
  display: flex;
  flex-direction: row;
}

.product-card {
  background-color: #171717;
  width: 600px;
  left: 30%;
  border-radius: 40px;
  position: relative;
}

.product-details {
  width: 80%;
  padding: 10px;
}

.product-image {
  position: absolute;
  right: -160px;
  top: -30px;
  display: block;
}
.product-image img {
  width: 300px;
}

.personajes {
  width: 100%;
  background-color: black;
  background-image: url("https://github.com/FerKovalink/d-d/blob/master/img/index/ar.png?raw=true");
  background-position: center;
}

#minis {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  flex-direction: row;
  background-image: url("https://github.com/FerKovalink/d-d/blob/master/img/index/bgpjs.jpg?raw=true");
  width: 100%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.contenedor {
  position: relative;
}

.contenedor #tarjeta {
  position: relative;
  width: 320px;
  height: 450px;
  background: #232323;
  border-radius: 20px;
  overflow: hidden;
}

.contenedor #tarjeta:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("https://github.com/FerKovalink/d-d/blob/master/img/minis/humano.jpg?raw=true ");
  background-position: center;
  background-repeat: no-repeat;
  filter: blur(1px);
  clip-path: circle(150px at 80% 20%);
  transition: 0.5s ease-in-out;
}

.contenedor #tarjeta:hover:before {
  clip-path: circle(300px at 80% -20%);
}

.contenedor #tarjeta:after {
  content: "D&D";
  position: absolute;
  top: 30%;
  left: -10%;
  font-size: 15rem;
  font-weight: 800;
  font-family: "Combo", cursive;
  color: rgba(255, 255, 25, 0.05);
}

.contenedor #tarjeta .imgBx {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1000;
  width: 100%;
  height: 220px;
  transition: 0.5s;
}

.contenedor #tarjeta:hover .imgBx {
  top: 0%;
  transform: translateY(0%);
}

.contenedor #tarjeta .imgBx img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 150px;
}

.contenedor #tarjeta .pj {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100px;
  text-align: center;
  transition: 1s;
  z-index: 10;
}

.contenedor #tarjeta:hover .pj {
  height: 210px;
}

.contenedor #tarjeta .pj h2 {
  position: relative;
  letter-spacing: 1px;
  font-family: "Bungee Spice", cursive;
  font-size: 2.5rem;
}

.contenedor #tarjeta .pj .raza,
.contenedor #tarjeta .pj .descript {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3px 10px;
  transition: 0.5s;
  opacity: 0;
  visibility: hidden;
}

.contenedor #tarjeta:hover .pj .raza {
  opacity: 1;
  visibility: visible;
  transition-delay: 0.5s;
}

.contenedor #tarjeta:hover .pj .descript {
  opacity: 1;
  visibility: visible;
  transition-delay: 0.6s;
}

.contenedor #tarjeta .pj a button {
  display: inline-block;
  margin-top: 10px;
  opacity: 0;
  transform: translateY(50px);
  transition: 0.5s;
}

.contenedor #tarjeta:hover .pj a {
  opacity: 1;
  transform: translateY(0px);
  transition-delay: 0.75s;
}

.raza h3 {
  font-family: "Satisfy", cursive;
  text-transform: uppercase;
  font-size: 2rem;
  color: #FD7014;
}

.descript h3 {
  font-family: "Combo", cursive;
  font-size: 2rem;
  color: #0b8062;
  font-weight: 550;
}

#tarjeta {
  margin: 10px;
}

/*# sourceMappingURL=main.css.map */
