//Colors
$color:(
    "negro": #222831,
    "gris": #393E46,
    "naranja": #FD7014,
    "blanco": #EEEEEE,
    "violeta": #8758FF,
    "amarillo": #FEE233,
    "verde": #0b8062,
    
);

//sizing
$w-100: 100%;
$w-50: 50%;
$w-25: 25%;