nav {
    background: map-get($map: $color, $key: "negro");

    ul {
        li {
            a {
                font-family: map-get($map: $fonts, $key:"nav");
                font-size: 2.5rem !important;
                padding-right: 30px !important;
                transition: 0.2s !important;

                &:hover {
                    font-size: 2.6rem !important;
                }
            }
        }
    }
}

.bann {
    img {
        width: 100%;
    }
}

.pjs {
    @include box-flex(center, center, column);
    width: 100%;
    background-color: black;
    padding-top: 70px;
    padding-bottom: 500px;


    h1 {
        font-size: 6rem;
        color: map-get($map: $color, $key: "verde");
        font-weight: 600;
        font-family: map-get($map: $fonts, $key: "combo");
        margin-bottom: 10px;


    }
}

.peluca {
    @include box-flex(center, center, column);
    margin-top: 10px;
    position: relative;
    width: 100%;


    img {
        width: 100%;

    }
}

.sape {
    width: 400px;
    position: absolute;
    top: -50;
    left: 0;
    right: 0;
    margin: 0 auto;

    h5{
        font-size: 4rem;
        padding-bottom: 5px;
        font-family: map-get($map: $fonts, $key:"nav");
        

    }

    p{
        font-size: 3.5rem;
        padding-bottom: 0px;
        font-family: map-get($map: $fonts, $key:"combo" );
        color: map-get($map: $color, $key: "violeta");
        font-weight: 800;
    }


}

footer {}