nav {
  background: map-get($map: $color, $key: "gris");
  ul {
    li {
      a {
        font-family: map-get($map: $fonts, $key:"nav");
        font-size: 2.5rem !important;
        padding-right: 30px !important;
        transition: 0.3s !important;

        &:hover,
        &:focus {
          font-size: 2.6rem !important;
        }
      }
    }
  }
}

.bann {
  img {
    width: 100%;
  }
}

.pjs {
  @include box-flex(center, center, column);
  width: 100%;
  background-color: black;
  padding-top: 70px;

  h1 {
    font-size: 6rem;
    color: map-get($map: $color, $key: "verde");
    font-weight: 600;
    font-family: map-get($map: $fonts, $key: "combo");
    margin-bottom: 10px;
  }
}

.intro {
  background-color: black;
  text-align: center;
  h1{
    font-family: map-get($map: $fonts, $key:"combo");
    color:map-get($map: $color, $key:"verde");
    font-size: 6rem;
    font-weight: 700;
    margin: 20px 0;
  }
}

.mapa{
  @include box-flex(center, center, column);
  width: 100%;
  background-color: map-get($map: $color, $key:"negro");

  video{
    width: 1280px;
    height: 720px;
    border-radius: 60px;
    margin-bottom: 50px;
  }

  h4{
    font-family: map-get($map: $fonts, $key:'nav');
    font-size: 5rem;
    padding: 1%;
  }
}

.logon {
  @include box-flex(center, center, column);
  background-color: map-get($map: $color, $key:"negro");
  width: 100%;
}

.parallax {
  background-image: url("https://github.com/FerKovalink/d-d/blob/master/img/ban3.jpg?raw=true");
  width: 100%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}