.ingreso {
    @include box-flex(center, flex-start, row);
    margin-top: 10px;
}

.login {
    margin-right: 300px;

    h2 {
        color: white;
        margin-bottom: 20px;
        font-size: 2.5rem;
        font-family: map-get($map: $fonts, $key:'nav');
    }

    label {
        color: white;
        font-size: 1.2rem;
        font-family: map-get($map: $fonts, $key:'bit');
    }

    input {
        font-size: 1.5rem;
        font-weight: 500;
    }
}

.registro {

    h2 {
        color: white;
        margin-bottom: 20px;
        font-size: 2.5rem;
        font-family: map-get($map: $fonts, $key:'nav');
    }

    label {
        color: white;
        font-size: 1.2rem;
        font-family: map-get($map: $fonts, $key:'bit');
    }

    input {
        font-size: 1.5rem;
        font-weight: 500;
    }
}

#formNew {
    display: none;

}

#cartelLog {
    @extend %cartel;
}

.btn-primary {
    background-color: map-get($map: $color, $key:'verde') !important;
    border-color: map-get($map: $color, $key:'verde') !important;
    font-family: map-get($map: $fonts, $key:'combo') !important;
    font-size: 1.8rem !important;
    margin-top: 5px;
    margin-bottom: 10px;

    &:hover {
        background-color: map-get($map: $color, $key:'naranja') !important;
    }
}

#formPer {
    @extend .registro;
    display: none;
    width: 100%;
    padding-bottom: 20px;

    img {
        width: 50%;
    }
}

#formPjs {
    input {
        width: 80%
    }
}

#cartelPj {
    @extend %cartel;

    h3 {
        font-size: 3rem;
        margin-left: 25px
    }
}

#verPjs {
    @extend %pjCard;
    width: 100%;
    margin: 10%;
}

.btnCartel {
    display: flex;
    flex-direction: row;
}

.product-card {
    background-color: map-get($map: $color, $key:'negro');
    width: 450px;
    left: 14%;
    border-radius: 40px;
    position: relative;

    
}

.product-details {
    width: 70%;
    padding: 10px;
}

.product-image {
    position: absolute;
    right: -160px;
    top: -30px;
    display: block;

    img {
        width: 300px;
    }
}

.personajes {
    @include box-flex(center, center, column);
    margin-top: 10px;
    width: 100%;
    background-color: black;
    background-image: url("https://github.com/FerKovalink/d-d/blob/master/img/index/ar.png?raw=true");
    background-position: center;
}

