.ingreso {
    @include box-flex(center, flex-start, row);
    margin-top: 10px;
}

.login {
    margin-right: 300px;

    h2 {
        color: map-get($map: $color, $key:"blanco");
        margin-bottom: 20px;
        font-size: 2.5rem;
        font-family: map-get($map: $fonts, $key:'nav');
    }

    label {
        color: map-get($map: $color, $key:"blanco");
        font-size: 1.2rem;
        font-family: map-get($map: $fonts, $key:'bit');
    }

    input {
        font-size: 1.5rem;
        font-weight: 500;
    }
}

.registro {

    h2 {
        color: map-get($map: $color, $key:"blanco");
        margin-bottom: 20px;
        font-size: 2.5rem;
        font-family: map-get($map: $fonts, $key:'nav');
    }

    label {
        color: map-get($map: $color, $key:"blanco");
        font-size: 1.2rem;
        font-family: map-get($map: $fonts, $key:'bit');
    }

    input {
        font-size: 1.5rem;
        font-weight: 500;
    }
}

#formNew {
    display: none;
}

#cartelLog {
    @extend %cartel;
}

.btn-primary {
    background-color: map-get($map: $color, $key:'verde') !important;
    border-color: map-get($map: $color, $key:'verde') !important;
    font-family: map-get($map: $fonts, $key:'combo') !important;
    font-size: 1.8rem !important;
    margin-top: 5px;
    margin-bottom: 10px;

    &:hover {
        background-color: map-get($map: $color, $key:'naranja') !important;
    }
}

#formPer {
    @extend .registro;
    display: none;
    width: 100%;
    padding-bottom: 20px;

    img {
        width: 50%;
    }
}

#formPjs {
    input {
        width: 80%
    }

    select {
        width: 30%;
        @extend input;
        margin-left: 20px;
        margin-top: 8px;
    }

    label {
        font-size: 1.3rem;
    }
}

#cartelPj {
    @extend %cartel;

    h3 {
        font-size: 3rem;
        margin-left: 25px
    }
}

#verPjs {
    @extend %pjCard;
    width: 100%;
}

.btnCartel {
    display: flex;
    flex-direction: row;
}

.product-card {
    background-color: map-get($map: $color, $key:'negro');
    width: 600px;
    left: 30%;
    border-radius: 40px;
    position: relative;
}

.product-details {
    width: 80%;
    padding: 10px;
}

.product-image {
    position: absolute;
    right: -160px;
    top: -30px;
    display: block;

    img {
        width: 300px;
    }
}

.personajes {
    width: 100%;
    background-color: black;
    background-image: url("https://github.com/FerKovalink/d-d/blob/master/img/index/ar.png?raw=true");
    background-position: center;
}

#minis {
    display: none;
    justify-content: space-around;
    flex-wrap: wrap;
    flex-direction: row;
    background-image: url("https://github.com/FerKovalink/d-d/blob/master/img/index/bgpjs.jpg?raw=true");
    width: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.contenedor {
    position: relative;
    border-radius: 40px;
    width: 300px;
    height: 460px;
}

.contenedor #tarjeta {
    position: relative;
    width: 300px;
    height: 450px;
    background: #232323;
    overflow: hidden;
    background: transparent !important;
}

.contenedor #tarjeta:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    clip-path: circle(150px at 80% 20%);
    transition: 0.5s ease-in-out;
}

.contenedor #tarjeta:hover:before {
    clip-path: circle(300px at 80% -20%);
}

.contenedor #tarjeta:after {
    content: 'D&D';
    position: absolute;
    top: 30%;
    left: -10%;
    font-size: 15rem;
    font-weight: 800;
    font-family: map-get($map: $fonts, $key:"combo");
    color: rgba(255, 255, 25, 0.05)
}

.contenedor #tarjeta .imgBx {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1000;
    width: 100%;
    height: 220px;
    transition: 0.5s;
}

.contenedor #tarjeta:hover .imgBx {
    top: 0%;
    transform: translateY(0%);
}

.contenedor #tarjeta .imgBx img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 150px;
}

.contenedor #tarjeta .pj {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px;
    text-align: center;
    transition: 1s;
    z-index: 10;
}

.contenedor #tarjeta:hover .pj {
    height: 210px;
}

.contenedor #tarjeta .pj h2 {
    position: relative;
    letter-spacing: 1px;
    font-family: map-get($map: $fonts, $key:"nav");
    font-size: 2.5rem;
}

.contenedor #tarjeta .pj .raza,
.contenedor #tarjeta .pj .descript {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3px 10px;
    transition: 0.5s;
    opacity: 0;
    visibility: hidden;
}

.contenedor #tarjeta:hover .pj .raza {
    opacity: 1;
    visibility: visible;
    transition-delay: 0.5s;
}

.contenedor #tarjeta:hover .pj .descript {
    opacity: 1;
    visibility: visible;
    transition-delay: 0.6s;
}

.contenedor #tarjeta .pj a button {
    display: inline-block;
    margin-top: 10px;
    opacity: 0;
    transform: translateY(50px);
    transition: 0.5s;
}

.contenedor #tarjeta:hover .pj a {
    opacity: 1;
    transform: translateY(0px);
    transition-delay: 0.75s;
}

.raza {
    h3 {
        font-family: map-get($map: $fonts, $key:"sa");
        text-transform: uppercase;
        margin-left: 150px;
        font-size: 2rem;
        color: map-get($map: $color, $key:"naranja");
        font-weight: 500;
    }
}

.descript {
    h3 {
        font-family: map-get($map: $fonts, $key:"combo");
        font-size: 2rem;
        color: map-get($map: $color, $key:"verde");
        font-weight: 600;
    }
}
